@import 
"./varColores", 
"./varFuentes"
;

.main-inicio{
    background-image: url("../IMG/imagen1.jpg");
    background-position:center;
    background-repeat: no-repeat;
    background-size: 115%;
    height: 600px;
    margin-bottom: 10px;

    .texto-inicio{
        color: rgb(0, 0, 0);
        font-family: 'Acme';
        font-size: 4vh;
        text-shadow: 3px 3px 5px rgb(255, 244, 210);
        width: 100%;
        line-height: 1.3em;
        text-align: center;
        padding-top: 20px;
        
        animation-name: text-inicio;
        animation-duration: 2s;
    }
    @keyframes text-inicio {
        0%{opacity: 0%;}
        100%{opacity: 100%;}
    }
}

.titulo {
    text-align: center;
    font-size: 30px;
    padding-top: 10px;
    font-family: $fuentePpal;
}

.promociones{
    font-family: $fuentePpal;
    text-align: center;
    font-size: 50px;
}
.contenedor-promos{
    padding-bottom: 100px;
}
div{
    div{
        .card{
            border: none;
        }
        div{
            div{
                .titulo2{
                    font-size: 30px;
                }
                .bi-truck , .bi-credit-card-2-back, .bi-emoji-laughing{
                    color: $colorPpal;
                    font-size: 50px;
                    margin: 5px;
                }
                // .fte-ppal{
                //     color: $colorPpal;
                // }
                p{
                    font-size: 25px;
                    font-family: $fuentePpal;
                    color: $colorPpal;
                }
                .card-text{
                    color: rgb(0,0,0);
                }
                h5{
                    font-family: $fuentePpal;
                    color: $colorPpal;
                }
            }

            .promo{
                border: solid 3px $colorPpal;
                margin: 10px 10px;
                background-color: rgb(37, 37, 37);
            }
        }
    }
}

div{
    div{
        .contenedor-img{
            div{
                img{
                    width: 100%;
                    
                    animation-name: imagenAnimada;
                    animation-duration: 4s;
                }
                @keyframes imagenAnimada {
                    0%{opacity: 0%;}
                    100%{opacity: 100%;}
                }
            }
        }
    }
}


