@media screen and (min-width: 768px){
    /* INICIO */
    .contenido{
        .main-inicio{
            .textos{
                .texto-inicio{
                    font-size: 50px;
                }
            }
        }
    }
   
    form{
        padding: 0 20%;
        
    }
    .formulario{
        margin: 20px 200px;
    }

    .titulo{
        font-size:  50px;
    }
}